@model OfferLatterGeneration.Models.OfferLetterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Offer Letter</title>

    <link href="@Url.Content("~/Content/offerletter.css")" rel="stylesheet" />
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>


    <style>
        body {
            margin: 0;
            background: white;
        }

        .toolbar-top,
        .bottom-action-bar {
            display: none !important;
        }

        .page {
            position: relative;
            /*            width: 210mm;
            height: 297mm;*/
            margin: 0 auto;
            border: none !important;
            box-sizing: border-box;
            page-break-after: always;
        }

            .page:last-child {
                page-break-after: auto;
            }

        
        .page-body {
            position: absolute;
            top: 60px;
            bottom: 60px;
            left: 0;
            right: 0;
            padding: 20px;
            box-sizing: border-box;
            overflow: hidden;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #333;
        }

        th, td {
            padding: 6px;
        }

        .page-tools {
            display: none !important;
        }

        @@media print {
            .page {
                min-height: auto !important;
            }
        }
    </style>
</head>
<body>
    @Html.Raw(Model.LetterBody)
</body>
</html>
